/* mobile media query*/
/* tablet media query */
/* desktop media query medium pixel dpi */
/* desktop media query high pixel dpi */
@font-face {
  font-family: AvenirUltThin;
  font-style: normal;
  font-weight: 100;
  src: url("../assets/fonts/AvenirNextProLT/Avenir-UltLt.otf");
}

@font-face {
  font-family: AvenirThin;
  font-style: normal;
  font-weight: 200;
  src: url("../assets/fonts/AvenirNextProLT/Avenir-Thin.otf");
}

@font-face {
  font-family: AvenirLight;
  font-style: normal;
  font-weight: 300;
  src: url("../assets/fonts/AvenirNextProLT/Avenir-Light.otf");
}

@font-face {
  font-family: AvenirRegular;
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/AvenirNextProLT/Avenir-Regular.otf");
}

@font-face {
  font-family: AvenirMedium;
  font-style: normal;
  font-weight: 500;
  src: url("../assets/fonts/AvenirNextProLT/Avenir-Medium.otf");
}

@font-face {
  font-family: AvenirSemi;
  font-style: normal;
  font-weight: 600;
  src: url("../assets/fonts/AvenirNextProLT/Avenir-Demi.otf");
}

@font-face {
  font-family: AvenirBold;
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/AvenirNextProLT/Avenir-Bold.otf");
}

@font-face {
  font-family: AvenirHeavy;
  font-style: normal;
  font-weight: 800;
  src: url("../assets/fonts/AvenirNextProLT/Avenir-Heavy.otf");
}

@font-face {
  font-family: AvenirUltThinitalic;
  font-style: italic;
  font-weight: 100;
  src: url("../assets/fonts/AvenirNextProLT/Avenir-UltLtIt.otf");
}

@font-face {
  font-family: AvenirThinitalic;
  font-style: italic;
  font-weight: 200;
  src: url("../assets/fonts/AvenirNextProLT/Avenir-Thin.otf");
}

@font-face {
  font-family: AvenirLightItalic;
  font-style: italic;
  font-weight: 300;
  src: url("../assets/fonts/AvenirNextProLT/Avenir-LightIt.otf");
}

@font-face {
  font-family: AvenirItalic;
  font-style: italic;
  font-weight: 400;
  src: url("../assets/fonts/AvenirNextProLT/Avenir-It.otf");
}

@font-face {
  font-family: AvenirMediumItalic;
  font-style: italic;
  font-weight: 500;
  src: url("../assets/fonts/AvenirNextProLT/Avenir-MediumIt.otf");
}

@font-face {
  font-family: AvenirSemiItalic;
  font-style: italic;
  font-weight: 600;
  src: url("../assets/fonts/AvenirNextProLT/Avenir-DemiIt.otf");
}

@font-face {
  font-family: AvenirBoldItalic;
  font-style: italic;
  font-weight: 700;
  src: url("../assets/fonts/AvenirNextProLT/Avenir-BoldIt.otf");
}

@font-face {
  font-family: AvenirHeavyItalic;
  font-style: italic;
  font-weight: 800;
  src: url("../assets/fonts/AvenirNextProLT/Avenir-HeavyIt.otf");
}

html, body {
  font-family: AvenirRegular;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100vh;
  color: #323232;
}

*, *:before, *:after {
  margin: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h1 {
  font-size: 24px;
  line-height: 32px;
  margin: 0;
}

h2 {
  font-size: 14px;
  line-height: 22px;
}

h4 {
  font-size: 13px;
  line-height: 18px;
}

h5 {
  font-size: 12px;
  line-height: 20px;
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 36px;
    line-height: 44px;
    margin: 0;
  }
  h2 {
    font-size: 24px;
    line-height: 32px;
  }
  h4 {
    font-size: 13px;
    line-height: 18px;
  }
  h5 {
    font-size: 12px;
    line-height: 20px;
    margin: 0;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 169px;
  margin: 0 5%;
}

.header__logo {
  height: 48px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 8px 0;
}

.header__searchbar {
  height: 48px;
  margin-bottom: 8px;
  border-radius: 4px;
  border: 1px solid #e1e1e1;
  background-color: #fafafa;
}

.header__button-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__button-section--button {
  height: 49px;
  background-color: #0095ff;
  border: none;
  border-radius: 4px;
  margin-right: 5vw;
  width: 79.375%;
  font-size: 16px;
  color: #ffffff;
}

.header__button-section--NOOR {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.header__button-section--plus {
  height: 12px;
}

@media only screen and (min-width: 768px) {
  .header {
    margin: 0 3.125%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 80px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__logo {
    margin-right: 169px;
  }
  .header__searchbar {
    margin: 16px 24px 16px 0;
    width: 25.4%;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
  .header__button-section--button {
    width: 110px;
    margin-right: 24px;
  }
}

@media only screen and (min-width: 1440px) {
  .header {
    margin: 0 12.5%;
  }
  .header__logo {
    margin-right: 509px;
  }
  .header__searchbar {
    width: 202px;
  }
}

.video-player {
  width: 100vw;
  height: 57.188vw;
}

.video-player__video {
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 768px) {
  .video-player {
    background-color: black;
    height: 53.08vw;
    max-height: 540px;
  }
  .video-player__video {
    width: 100vw;
    height: 100%;
  }
}

.comments__comment {
  margin: 24px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #e1e1e1;
}

.comments__comment--avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.comments__comment__content {
  width: 81.25%;
}

.comments__comment__content__head {
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.comments__comment__content__head--name {
  padding-right: 32px;
  font-size: 14px;
}

.comments__comment__content__head--date {
  color: #AFAFAF;
  font-size: 14px;
  font-family: AvenirThin;
}

.comments__comment__content--comment {
  padding-bottom: 24px;
}

.comment-input--count {
  margin-bottom: 32px;
}

.comment-input__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: solid 1px #e1e1e1;
}

.comment-input__section--avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 24px;
}

.comment-input__section--form {
  width: 75%;
}

.comment-input__section--form--label {
  font-size: 12px;
  color: #AFAFAF;
  font-family: AvenirMedium;
}

.comment-input__section--form--comment {
  width: 100%;
  height: 64px;
  margin-bottom: 16px;
  font-family: AvenirRegular;
  font-size: 13px;
  padding: 6px;
  border-radius: 4px;
  border: 1px solid #e1e1e1;
}

#button {
  height: 50px;
  background-color: #0095ff;
  border: none;
  border-radius: 4px;
  margin-right: 5vw;
  width: 100%;
  color: #ffffff;
  font-size: 16px;
  margin-bottom: 24px;
}

@media only screen and (min-width: 768px) {
  .comment-input__section--form {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .comment-input__section--form--inner {
    width: 440px;
    position: relative;
    bottom: 20px;
  }
  .comment-input__section--form--comment {
    width: 440px;
    height: 50px;
    font-size: 1em;
    padding: 14px;
    margin-right: 16px;
  }
  .comment-input__section--avatar {
    margin-right: 12px;
  }
  #button {
    width: 160px;
    margin-right: 40px;
  }
}

.main-content {
  margin: 32px 5% 24px 5%;
}

@media only screen and (min-width: 768px) {
  .main-content {
    margin: 48px 3.125% 24px 3.125%;
  }
}

@media only screen and (min-width: 1440px) {
  .main-content {
    margin: 40px 12.5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main-content__video-specific {
    width: 712px;
    margin-right: 24px;
  }
}

.next-videos--header {
  margin: 40px 0;
}

.next-videos__video {
  text-decoration: none;
  color: #323232;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 24px 0;
}

.next-videos__video--image {
  width: 120px;
  height: 70px;
  border-radius: 4px;
  margin-right: 10px;
}

.next-videos__video__info {
  width: 54.8%;
}

.next-videos__video__info--title {
  margin: 4px 0 8px 0;
}

.next-videos__video__info--channel {
  font-weight: 400;
}

@media only screen and (min-width: 1440px) {
  .next-videos--header {
    margin-top: 0;
  }
}

.video-info__info--title {
  margin-bottom: 16px;
  font-family: AvenirBold;
}

.video-info__info--channel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-bottom: 32px;
}

.video-info__info--channel--name {
  margin-right: 8px;
}

.video-info__info--channel--timestamp {
  color: #AFAFAF;
  font-family: AvenirThin;
}

.video-info__info--stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 24px;
  border-bottom: 1px solid #e1e1e1;
  font-family: AvenirThin;
}

.video-info__info--stats--views {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  margin-right: 16px;
}

.video-info__info--stats--likes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.video-info__info--stats--icon {
  margin-right: 8px;
}

.video-info__description {
  margin: 24px 0 40px 0;
  font-size: 12px;
  line-height: 20px;
}

@media only screen and (min-width: 768px) {
  .video-info__info--channel--name {
    font-size: 18px;
    font-family: AvenirSemi;
  }
  .video-info__description {
    width: 70%;
    font-size: .85rem;
    margin: 40px 0 64px 0;
  }
}
/*# sourceMappingURL=main.css.map */