.comments {
  &__comment {
    margin: 24px 0;
    display: flex;
    border-bottom: 1px solid $mercury;
    &--avatar {
      height: 50px;
      width: 50px;
      border-radius: 50%;
      margin-right: 10px;
    }
    &__content {
      width: 81.25%;
      &__head {
        padding: 10px 0;
        display: flex;
        justify-content: space-between;
        &--name {
          padding-right: 32px;
          font-size: 14px;
        }
        &--date {
          color: $silver;
          font-size: 14px;
          font-family: AvenirThin;
        }
      }
      &--comment {
        padding-bottom: 24px;
      }
    }
  }
}
.comment-input {
  &--count {
    margin-bottom: 32px;
  }
  &__section {
    display: flex;
    border-bottom: solid 1px $mercury;
    &--avatar {
      height: 50px;
      width: 50px;
      border-radius: 50%;
      margin-right: 24px;
    }
    &--form {
      width: 75%;
      &--label {
        font-size: 12px;
        color: $silver;
        font-family: AvenirMedium;
      }
      &--comment {
        width: 100%;
        height: 64px;
        margin-bottom: 16px;
        font-family: AvenirRegular;
        font-size: 13px;
        padding: 6px;
        border-radius: 4px;
        border: 1px solid $mercury;
        background-color: $alabaster;
      }
    }
  }
}
#button {
  height: 50px;
  background-color: $brainflix-blue;
  border: none;
  border-radius: 4px;
  margin-right: 5vw;
  width: 100%;
  color: $white;
  font-size: 16px;
  margin-bottom: 24px;
}

@include medium {
  .comment-input__section--form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    &--inner {
      width: 440px;
      position: relative;
      bottom: 20px;
    }
    &--comment {
      width: 440px;
      height: 50px;
      font-size: 1em;
      padding: 14px;
      margin-right: 16px;
    }
  }
  .comment-input__section--avatar {
    margin-right: 12px;
  }
  #button {
    width: 160px;
    margin-left: 40px;
  }
}
