.video-info {
  &__info {
    &--title {
      margin-bottom: 16px;
      font-family: AvenirBold;
    }
    &--channel {
      display: flex;
      align-items: baseline;
      margin-bottom: 32px;
      &--name {
        margin-right: 8px;
      }
      &--timestamp {
        color: $silver;
        font-family: AvenirThin;
      }
    }
    &--stats {
      display: flex;
      padding-bottom: 24px;
      border-bottom: 1px solid $mercury;
      font-family: AvenirThin;
      &--views {
        display: flex;
        align-items: flex-start;
        margin-right: 16px;
      }
      &--likes {
        display: flex;
        align-items: flex-start;
      }
      &--icon {
        margin-right: 8px;
      }
    }
  }
  &__description {
    margin: 24px 0 40px 0;
    font-size: 12px;
    line-height: 20px;
  }
}

@include medium {
  .video-info {
    &__info--channel--name {
      font-size: 18px;
      font-family: AvenirSemi;
    }
    &__description {
      width: 70%;
      font-size: 0.85rem;
      margin: 40px 0 64px 0;
    }
  }
}

@include huge {
  .video-info__info--stats {
    border: none;
  }
  .video-info__sep {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $mercury;
    font-family: AvenirThin;
    padding-right: 32px;
  }
  .next-videos__video__info--title {
    font-size: 15px;
  }
  .next-videos__video__info--channel {
    font-size: 13px;
  }
}
