.comments {
    &__comment {
        &--avatar {
            height: 50px;
            width: 50px;
            border-radius: 50%;
        }
        &--name {

        }
        &--date {

        }
        &--comment {

        }
    }
}
.comment-input {
    &--count {
        margin-bottom: 32px;
    }
    &__section {
        display: inline-block;
        &--avatar {
            height: 50px;
            width: 50px;
            border-radius: 50%;
        }
        &--label {

        }
        &--name {

        }
        &--comment {

        }
    }
    &--button {
        
    }
}