.header {
    display: flex;
    flex-direction: column;
    height: 169px;
    margin: 0 5%;
    &__logo {
        height: 48px;
        box-sizing: border-box;
        padding: 8px;
    }
    &__searchbar {
        height: 48px;
        margin-bottom: 8px;
        border-radius: 4px;
        border: 1px solid $mercury;
        background-color:$alabaster;
    }
    &__button-section {
        display: flex;
        &--button {
        height: 49px;
        background-color: $brainflix-blue;
        border: none;
        border-radius: 4px;
        margin-right: 5vw;
        width: 79.375%;
        color: $white;
        }
    &--NOOR {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        }
    }
}