.video-info {
    &__info {
        &--title {
            margin-bottom: 16px;
        }
        &--channel {
            display: flex;
            align-items: baseline;
            margin-bottom: 32px;
            &--name {
                margin-right: 8px;
            }
            &--timestamp {
                color: $silver;
            }
        }
        &--stats {
            display: flex;
            padding-bottom: 24px;
            border-bottom: 1px solid $mercury;
            &--views {
                display: flex;
                align-items: start;
                margin-right: 16px;
            }
            &--likes {
                display: flex;
                align-items: start;
            }
            &--icon {
                margin-right: 8px;
            }
        }
    }
    &__description {
        margin: 24px 0 40px 0;
    }
}