.main-content {
  margin: 32px 5% 24px 5%;
}

@include medium {
  .main-content {
    margin: 48px 3.125% 24px 3.125%;
  }
}
@include huge {
  .main-content {
    margin: 40px 12.5%;
    display: flex;
    &__video-specific {
      width: 712px;
      margin-right: 24px;
      border-right: 1px solid $mercury;
    }
  }
}
